<div id="sideNav">
    <div id="close"><i class="fa-solid fa-xmark"></i></div>
    <h1>Secrets</h1>
    <nav>
        <a href="/feed">
            <li><i class="fa-solid fa-house"></i> Home</li>
        </a>
        <a href="/search">
            <li><i class="fa-solid fa-magnifying-glass"></i>Search</li>
        </a>
        <a href="/createpost">
            <li><i class="fa-solid fa-pencil"></i>Create Post</li>
        </a>
    </nav>
    <a href="/profile" id="settings">
        <div id="img">
            <img src="<%= user.profilePicture %>" alt="profile photo">
        </div>
        <h3>
            <%= user.username %>
        </h3>
    </a>
</div>