<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/60734bdbf3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/feed.css">
    <title>Secrets | Feed</title>
</head>

<body>

    <%- include('partials/sidenav') %>

        <main>
            <div id="topBar">
                <div id="hamburger"><i class="fa-solid fa-bars"></i></div>
                <h3>Feed</h3>
            </div>

            <div id="main">
                <div id="mainFeed">

                    <% allposts.reverse().forEach(function(post){ %>
                        <div class="note">
                            <div class="noteUserInfo">
                                <div class="noteimg">
                                    <img src="<%= post.user.profilePicture %>" alt="profile photo">
                                </div>
                                <h4>
                                    <%= post.user.username %>
                                </h4>
                            </div>
                            <p>
                                <%= post.content %>
                            </p>
                        </div>
                        <% }) %>


                </div>

            </div>
        </main>

</body>
<script>
    let hamburger = document.getElementById('hamburger')
    let sideNav = document.getElementById('sideNav')
    let closeNav = document.getElementById('close')

    hamburger.addEventListener('click', () => {
        sideNav.style.left = '0'
    })

    closeNav.addEventListener('click', () => {
        sideNav.style.left = '-600px'
    })
</script>

</html>