<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/60734bdbf3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <title>Secrets | Profile</title>
</head>

<body>

    <%- include('partials/sidenav') %>

        <main>
            <div id="topBar">
                <div id="hamburger"><i class="fa-solid fa-bars"></i></div>
                <h3>Profile</h3>
            </div>

            <div id="main">
                <div id="profileimg">
                    <img src="<%= user.profilePicture %>" alt="profile photo">
                </div>
                <h2>
                    <%= user.username %>
                </h2>
                <a href="/logout"><i class="fa-solid fa-power-off"></i></a>
            </div>
        </main>

</body>
<script>
    let hamburger = document.getElementById('hamburger');
    let sideNav = document.getElementById('sideNav');
    let closeNav = document.getElementById('close');

    hamburger.addEventListener('click', () => {
        sideNav.style.left = '0';
    });

    closeNav.addEventListener('click', () => {
        sideNav.style.left = '-600px';
    });


</script>

</html>