<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/60734bdbf3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/search.css">
    <title>Secrets | Search</title>
</head>

<body>

    <%- include('partials/sidenav') %>

        <main>
            <div id="topBar">
                <div id="hamburger"><i class="fa-solid fa-bars"></i></div>
                <h3>Search Posts</h3>
            </div>

            <div id="main">

                <div id="searchDiv">
                    <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
                    <form action="/search" method="get">
                        <input name="searchInp" id="searchInp" type="text" placeholder="Search..." autocomplete="off">
                    </form>
                </div>

                <div class="line"></div>

                <div id="results">

                    <div class="note">
                        <div class="noteUserInfo">
                            <div class="noteimg">
                                <img src="https://img.freepik.com/premium-vector/man-avatar-profile-picture-vector-illustration_268834-538.jpg?size=626&ext=jpg&ga=GA1.1.329147230.1691923026&semt=sph"
                                    alt="profile photo">
                            </div>
                            <h4>Vikhyat Gupta</h4>
                        </div>
                        <p>Happy Monday, Makers! What’s the project/goal you are working on this week?Happy Monday,
                            Makers!
                            What’s the project/goal you are working on this week?Happy Monday, Makers! What’s the
                            project/goal you are working on this week?</p>
                    </div>


                </div>

            </div>
        </main>

</body>
<script>
    let hamburger = document.getElementById('hamburger')
    let sideNav = document.getElementById('sideNav')
    let closeNav = document.getElementById('close')

    hamburger.addEventListener('click', () => {
        sideNav.style.left = '0'
    })

    closeNav.addEventListener('click', () => {
        sideNav.style.left = '-600px'
    })
</script>

</html>